<!-- 

<a href="ambulance_reg">ambulance_reg</a>


` -->

{%include 'admin/admin_header.html'%}
<style>
    
</style>

        <!-- Header End -->
           <!-- Top Header Start -->
           <section class="top-header_admin" >
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h1><a href="/admin_home">Welcome to Admin Panel</a></h1>
                        <!-- <a class="brand" href="index.html" title="Home"><img alt="Logo" src="///static/assets/img/logo.png"></a> -->
                    </div>
                </div>

                <div class="col-md-12">
                    <h2>Manage and track ambulance services efficiently.</h2>
               
                </div>
            </div>
        </section>
        <!-- Top Header End -->
<main id="main">
    <!-- About Section Start-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="about-col-left">
                        <img class="img-fluid" src="/static/assets/img/se1.jpg" />
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="about-col-right">
                        <header class="section-header">
                            <h3>About Our Services</h3>
                        </header>
             
                        <p>
                            Ensuring swift and reliable response, our dedicated team is committed to providing immediate assistance in critical moments, ensuring the safety and well-being of those in need.                        </p>
                        <p>
                            Discover our commitment to providing rapid and reliable ambulance services. Our team is dedicated to ensuring your safety and well-being during critical moments.                        </p>
                        <a href="about.html"></a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="about-col">
                        <h4>Our Fleet</h4>
                        <p>Modern Ambulance Fleet - Equipped with the latest life-saving technologies.</p>
                        <p>Certified Emergency Medical Technicians - Trained professionals ensuring quality care.</p>
                    </div>                   
                </div>
                <div class="col-sm-6">
                    <div class="about-col">
                        <h4>Experience</h4>
                        <p>Years of Service - Providing emergency response and patient transport .</p>
                        <p>Trusted by Communities - Serving the community with dedication and reliability.</p>                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End-->



    <!-- Team Section Start -->
    <section id="team">
        <div class="container">
            <div class="section-header">
                <h3>Our Integrated Emergency Network</h3>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="box8">
                        <img src="/static/assets/img/ambu.jpg" alt="">
                        <div class="box-content">
                            <ul class="icon">
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-pinterest"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4>Ambulance Team</h4>
                    <span>Emergency Response Unit</span>
                    <p>
                        Our dedicated ambulance team, known as the Emergency Response Unit, is equipped and ready to provide immediate assistance in times of crisis.                    </p>
                </div>
                
                <div class="col-md-4">
                    <div class="box8">
                        <img src="/static/assets/img/patient.jpg" alt="">
                        <div class="box-content">
                            <ul class="icon">
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-pinterest"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4>Patient</h4>
                    <span>Recipient of Emergency Care</span>
                    <p>
                        The patient, as the recipient of our emergency care, is at the center of our commitment to providing compassionate and high-quality medical assistance during critical moments.                    </p>                     
                </div>

                <div class="col-md-4">
                    <div class="box8">
                        <img src="/static/assets/img/team-1.jpg" alt="">
                        <div class="box-content">
                            <ul class="icon">
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-pinterest"></a></li>
                                <li><a href="#" class="fa fa-google-plus"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4>Hospital</h4>
                    <span>Collaborating Medical Facility</span>
                    <p>
                        Collaborating with hospitals, our network ensures that patients receive seamless medical care as we work in tandem with medical facilities to prioritize health and well-being                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->
    
    <!-- Testimonials Section Start -->
    <section id="testimonials" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h3>Happy Client</h3>
            </div>
            
            <div class="owl-carousel testimonials-carousel">
                <div class="row testimonial-item">
                    <div class="col-sm-4">
                        <div class="box8">
                            <img src="/static/assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                            <div class="box-content">
                                <ul class="icon">
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-pinterest"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="content">
                            <h3>Jamie D. Boyd</h3>
                            <h4>Grateful Patient</h4>
                            <p>
                                <i class="fa fa-quote-left"></i>
                                "I'm incredibly grateful for the prompt and professional ambulance service. The team's quick response and care made a significant difference during a critical situation.                                <i class="fa fa-quote-right"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row testimonial-item">
                    <div class="col-sm-4">
                        <div class="box8">
                            <img src="/static/assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                            <div class="box-content">
                                <ul class="icon">
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-pinterest"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="content">
                            <h3>Albert J. Cerrato</h3>
                            <h4>Family Member</h4>
                            <p>
                                <i class="fa fa-quote-left"></i>
                                Our family appreciates the compassionate and professional care provided by the ambulance service. They made a difficult situation more manageable and showed great empathy.                                <i class="fa fa-quote-right"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row testimonial-item">
                    <div class="col-sm-4">
                        <div class="box8">
                            <img src="/static/assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                            <div class="box-content">
                                <ul class="icon">
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-pinterest"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="content">
                            <h3>Theresa R. Wood</h3>
                            <h4>Thankful Customer</h4>
                            <p>
                                <i class="fa fa-quote-left"></i>
                                The ambulance team's professionalism and care were outstanding. Their dedication to providing swift and effective assistance truly made a difference. Thank you for your excellent service!                                <i class="fa fa-quote-right"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials Section End -->



    
    <!-- Subscriber Section Start -->
    <section id="subscriber">
        <div class="container">
            <h3>We are available 24/7 to assist you.</h3>
            
            </form>
        </div>
    </section>
    <!-- Subscriber Section end -->
    
    

</main>

{%include 'public/footer.html'%}